<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab 6 - Home</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading">CIS*3210 Lab 6</h1>

						{% if logged_in == False %}
							{% if create_user == False %}
								<h3 id="dbResults">Please log in below</h3>
								<form>
									<div class="form-group">
										<label for="username">Username</label>
										<input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
										<br>
										<input type="submit" class="btn btn-default" id="login-submit" value="Log in">
									</div>
								</form>
								<hr>
								<button class="btn btn-default" id="registerUser">Create a new user</button>
							{% else %}
								<h3 id="dbResults">Register a new user below</h3>
								<form>
									<div class="form-group">
										<label for="r-username">Username</label>
										<input type="text" class="form-control" id="r-username" name="username" placeholder="Username" required>
										<label for="r-password">Password</label>
										<input type="password" class="form-control" id="r-password" name="password" placeholder="Password" required>
										<label for="r-password2">Confirm Password</label>
										<input type="password" class="form-control" id="r-password2" name="password" placeholder="Confirm password" required>
										<br>
										<input type="submit" id="r-submit" class="btn btn-default" value="Create User">
									</div>
								</form>
								<hr>
								<button class="btn btn-default" id="goBack">Cancel creating a user</button>
							{% endif %}

						{% else %}

							<h2>Welcome {{username}}</h2>

							<button id="logout" class="btn btn-default">Log out</button>
							
							<h3>Search on Wikipedia for a video game!</h3>

							<div id="wikiResults"></div>

							<form>
								<div class="form-group">
									<label for="wikiTitle">Name of video game</label>
									<input type="text" class="form-control" id="wikiTitle" name="wikiTitle" placeholder="Title of video game" required>
									<br>
									<input type="submit" id="wiki-title-submit" class="btn btn-default" value="Search for video game">
								</div>
							</form>

							<div class="gridRow">
								<div class="gridColumn">
									<img id="wiki-image" src=""/>
								</div>
								<div class="gridColumn">
									<p id="wikiSummary"></p>
								</div>
							</div>

						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
		<footer class="page-footer font-small blue pt-4">
			<p>Developed by Peter Hudel, 1012673</p>
		</footer>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
