<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="#">
	<title>CIS*3210 Lab 10</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/cover.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
</head>

<body>
	<div class="header">
		<h1 style="filter: drop-shadow(2px 2px 1px #000);">The Game Backlogger</h1>
		<h5>For organizing which game to play first!</h5>
		<p>Developed by Peter Hudel</p>
	</div>
	<br>
	<div class="mainBody" id="bodyDiv">
		<div style="text-align: center;">
			<div class="inputForm">
				<h2 style="filter: drop-shadow(2px 2px 1px #000);">Add a video game to your backlog!</h2>
				<br>
				<form>
					<div class="slidecontainer">
						<label id="sliderOutput" for="numSentenceSummary"></label>
						<input type="range" min="1" max="3" value="2" class="slider" id="numSentenceSummary">
					</div>
					<br>
					<div class="flex-container">
						<div style="width: 70%;">
							<label for="wikiTitle">Type in a video game title</label>
							<input type="text" class="form-control" style="display: block;" id="wikiTitle" name="wikiTitle"
								placeholder="Type in title of video game" required>
						</div>
						<div style="width: 30%;">
							<label for="sampleGames">Example Games</p>
							<select class="form-control" id="sampleGames">
								<option value="" selected disabled>Sample Video Games</option>
								<option value="Witcher 3">Witcher 3</option>
								<option value="Fallout New Vegas">Fallout New Vegas</option>
								<option value="Bioshock Infinite">Bioshock Infinite</option>
								<option value="Horizon Zero Dawn">Horizon Zero Dawn</option>
								<option value="Hades (video game)">Hades (video game)</option>
							</select>
						</div>
					</div>
					<br>
					<input type="submit" id="wiki-title-submit" class="btn btn-primary" value="Add game to backlog">
				</form>
			</div>
			<br><br>
			<div id="wikiResults"></div>
		</div>
		<div class="row">
			<div class="column side" style="padding-left: 30px; text-align: center;">
				<u><h2 id="selectedText"></h2></u>
				<img id="wiki-image" src="" />
				<h3 id="selectedGame"></h3>
			</div>
			<div class="column middle">
				<br><br>
				<button class="btn btn-primary" id="deleteSelected">Delete Selected Game</button>
				<br>
				<br>
				<table id = 'gameTable' class="table table-hover">
					<thead>
						<tr>
							<th>Ranking</th>
							<th>Title</th>
							<th>Summary</th>
							<th>Categories</th>
							<th>URL</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="column side"></div>
		</div>
	</div>
	</div>
	<br>
	<br>
	<hr>

	<script src="/js/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/init.js"></script>
</body>

</html>